<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ " /favicon.ico " | prepend: site.baseurl }}">
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic" />
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css" />
    <link rel="canonical" href="{{ page.url | replace:'/index.html','/' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }} Feed" href="{{ site.url }}/feed.xml">
</head>

<body>
    <header id="navigation" class="navbar-inverse navbar-fixed-top animated-header">
        <div class="container">
            <div class="navbar-header">
                <!-- responsive nav button -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- /responsive nav button -->
                <!-- logo -->
                <h1 class="navbar-brand">
                    <a href="#home">
                        <img id="logo" src="\images\CodeCaf-White.png"></img>
                    </a>
                </h1>
                <!-- /logo -->
            </div>
            <!-- main nav -->
            <nav class="collapse navbar-collapse navbar-right" role="navigation">
                <ul id="nav" class="nav navbar-nav">
                    <li><a href="http://codecaf.nz/#Home">Home</a></li>
                    <li><a href="http://codecaf.nz/#service">Services</a></li>
                    <li><a href="http://blog.codecaf.nz/">Blog</a></li>
                    <li><a href="http://codecaf.nz/#contact">Contact</a></li>
                </ul>
            </nav>
            <!-- /main nav -->
        </div>
    </header>
    {{content}} {% include footer.html %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/plugins.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/custom.js"></script>
</body>

</html>